/*--------------------RESET-----------------------------*/
*{margin: 0; padding: 0; box-sizing: border-box; font-family: inter; list-style: none; text-decoration: none;}
/*------------------Police----------------------------*/
@font-face{ font-family: "inter"; src: local("inter"), url("Inter/Inter-VariableFont_opsz\,wght.ttf")}
/*-------------------- menu --------------------------*/
.menu{display: flex; justify-content: space-between; background: #233955; 
    padding: 15px; align-items: center; margin-top: 0; position: fixed; width: 100vw;}
.logo{display: flex; flex-direction: column; gap:0;justify-content:first baseline;}
.D{font-size: 2rem; font-family: inter; color:#f5be28; font-weight: bold; margin: 0;}
.fixe{color: white; font-size: 2rem; margin: 0;}
.comment{color: rgb(206, 204, 204); font-size: 0.8rem;display:none}
.nav-link{display: none;}
.mode{display: none;}
.burger{width: 44px; height: 44px; background: none; padding: 8px; cursor: pointer; border: none;}
.burger span{display: block; width: 100%; height: 3px; background: white; margin: 5px 0;}
/*--================================HOME-PAGE==============================--*/
/*----------------------------- main-contenu -------------------------------*/
main{background: #07172c; }
.first-cont{padding: 15px; padding-top: 150px; display: flex; justify-content: center; gap:20px;
flex-direction: column;}
.hey{background: rgba(255, 255, 255, 0.1) ; width: 120px; padding: 5px; font-size: 0.8rem; border-radius: 15px; 
    margin:0; }
.hey p{color: white; text-align: center;}
.par{font-size: 1.2rem; color: white; line-height: 1px;}
.text{display: flex;  flex-direction: column;gap: 10px;}
.text-first{font-size: 1.2rem; line-height: 1.3rem ; color: rgba(255, 255, 255, 0.5); margin-top: 20px;}
.buttons{display: flex; flex-direction: co; gap: 20px; justify-content: center; padding: 15px;}
.buttons a{text-decoration: none; color:white; font-size: 0.8rem; padding:1px;}
.buttons a:hover{color:#07172c; font-weight: bold;}
.butt-cadre{border: 2px solid white; width: 40%; text-align: center; border-radius: 15px;}
.butt-cadre:hover{background: #fabd21;}
.follow{display: flex; width: 30%; justify-content: center; gap:15px}
.icone-follow{width:30px;}
.icone-follow img{width: 100%;}
.diglo-avat{width: 50%; padding-bottom: 0; margin-bottom: 0;}
.diglo-avat img{width: 100%;}
footer{background:  #031124; display: flex; flex-direction: column;}
.foot{background: transparent;}
.copyright{font-size: 0.8rem; color: rgba(255, 255, 255, 0.5); text-align: center;}
/*===============================APROPOS==================================*/
/*----------------commentaire-section-------*/
.skill-description{display: none;}
.side{display: flex; align-items: center; gap:20px}
.trait{width: 50px; height: 8px; background: #fabd21;}
.abo-text{font-size: 1rem; font-weight: bold; color: #031124;}
/*-------------------main----------------*/
.skills{display: flex; flex-direction: column; gap:5px;background:#e0ecf8; padding: 15px;}
.skills h2{font-size: 1.2rem;}
.prefixe{display: none;}
.skill-container{display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: 1fr 1fr; gap: 20px;}
.skill-card{background: white; padding: 10px; width: 100%; display: flex; flex-direction:column; 
            align-items: center; border-radius: 15px; box-shadow: 5px 5px rgb(228, 221, 221);}
.skill-card img{width: 25%;}
.skill-card h3{font-size: 0.8rem;}
.skill-card p{font-size: 0.8rem;}


/* ===================== DESKTOP ========================= */

@media (min-width: 768px) {
.logo{flex-direction: row;align-items:last baseline;height: 12vh;}
.D, .fixe{font-size: 3.5rem;}
.nav-link{display: flex; gap:30px}
.nav-link a{color: white; font-size: 1.2rem;}
.nav-link a:hover{border-bottom: 5px solid #fabd21;}
.mode{display:block; width: 44px; height: 44px; border: 2 solid white; margin-right: 50px; }
.mode img{width:100%;}
.burger{display: none;}
.first-cont{flex-direction: row;}
.diglo-avat{width: 30%; aspect-ratio: 1/1; order: 2;}
.diglo-avat img{width:100%; aspect-ratio: 1/1;}
.left-container{width: 40%; height: 300px;}
.follow{margin-top:80px ;}
.comment{color: rgb(206, 204, 204); font-size: 0.8rem;display:block}
.copyright{font-size: 1rem;}
/*--------------------compétence------*/
.skill-container{display: flex;}
.skill-description{display: block; font-size: 1.2rem; line-height: 1.5rem;}
.skill-texte{width: 40%;}
.skill-texte  h2{color:#fabd21; font-size: 2rem;}
.skill-card{width: 30%;}
.skills{padding-left: 200px;}
.skill-card p{text-align: center; line-height: 1rem;}
.prefixe{display: block;text-align: center;}
.second-cont {display: none;}
}


